.back-button {
    height: 40px;
    width: 40px;
    border-radius: 10px;
    top: 50px;
    left: 20px;
    cursor: pointer;
    color: #27214D;
    background-color: #F5F5F5;
    text-align: center;
    padding: 6px 1px 1px;
    
    svg {
        text-align: center;
        justify-content: center;
        font-size: 20px;
        font-weight: bold;
    
    }
}

.add-button {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: #78DA70;
    gap: .5rem;
    text-align: center;
    color: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}