.stock-container {
    padding: 20px;
    margin-top: 80px;
}

.back-button {
    height: 40px;
    width: 40px;
    border-radius: 10px;
    top: 50px;
    left: 20px;
    cursor: pointer;
    color: #27214D;
    background-color: #F5F5F5;
    text-align: center;
    padding: 6px 1px 1px;
}

.back-button svg {
    text-align: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.add-button {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: #007ad2;
    gap: .5rem;
    text-align: center;
    color: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.error-message {
    color: #d9534f;
    text-align: center;
    margin-top: 1rem;
}