.add-sale-container {
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    max-width: 800px;
    margin-top: 70px;
}

.back-button {
    display: block;
    margin-bottom: 1rem;
}

.add-sale-header {
    margin-bottom: 1.5rem;
    text-align: left;
}

.add-sale-header h2 {
    margin-left: 2px;
    color: #28224E;
    font-size: 1.65rem;
    font-weight: 500;
}

.add-sale-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: .5rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group button {
    font-size: .9rem;
}

.form-group label {
    display: block;
    font-weight: 600;
    color: #555;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.form-control {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.sale-item-group {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.sale-item-group .form-control {
    flex: 1;
}

.quantity-input {
    text-align: center;
}

.add-item-btn {
    width: 100%;
    margin-top: 0.5rem;
}

.btn-danger-outline {
    background-color: transparent;
    border: 1px solid #dc3545;
    color: #dc3545;
    padding: 0.75rem;
    border-radius: 4px;
    cursor: pointer;
}

.form-actions {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    border-top: 1px solid #eee;
    padding-top: 1.5rem;
}

.form-actions button {
    font-size: .8rem;
}