.edit-sale-container {
    padding: 1rem;
    font-family: Poppins, sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

.back-button {
    display: block;
    margin-bottom: 1rem;
}

.edit-sale-header {
    margin-bottom: 1.5rem;
}

.edit-sale-header h2 {
    color: #28224E;
    font-size: 1.75rem;
    font-weight: 500;
}

.edit-sale-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    font-weight: 600;
    color: #555;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.form-control {
    width: 90% !important;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.item-edit-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: #f9f9f9;
    color: #000;
    border-radius: 4px;
    margin-bottom: 0.5rem;
}

.quantity-input {
    width: 0px;
    text-align: center;
}

.form-actions {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    border-top: 1px solid #eee;
    padding-top: 1.5rem;
}